.header-container
    header.header
        h2.title JHONATAN
        h1.sub-title Web Developer
        .cover-page
            img(src="img/lap.jpg", alt="")
        p.description This is my new experimental web to show you my portfolio, on this espace you can find my last proyects
        a.main-link(href='https://google.com') Continue
        //- nav.nav-bar
        //-     ul.nav.list
        //-         each option in menuOptions
        //-             li: a(href=`pages/${option.toLowerCase().replace(/ /g, '-')}.html`)= option
